body, div, .header-links ul {
    display: flex;
}

body {
    flex-direction: column;
    font-family: sans-serif; /* CHANGE ME */
    margin: 0;
}

.content, .content-1-1, .content-2, .content-3, .content-4-1-1 {
    flex-direction: column;
    align-items: center;
}

.content-1 h1 {
    font-size: 48px;
    font-weight: extra-bold; /* CHANGE ME */
    color: #F9FAF8;
    margin: 0;
}

.content-1-1 {
    align-items: flex-start;
    flex: initial;
    width: 100%;
    gap: 2px;
}

.content-1 img {
    background-color: gray;
    color: #F9FAF8;
    text-align: center;
    flex: initial;
    width: 100%;
}

.content-1 p, .header-links ul {
    font-size: 18px;
    color: #E5E7EB
}

.content-1 p {
    margin: 0;
}

.content-1 button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 6px 24px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    margin-top: 10px;
}

.content-2 h2 {
    font-size: 36px;
    font-weight: extra-bold; /* CHANGE ME */
    color: #1F2937;
}

.content-2 img {
    color: white;
    border: 5px solid #3882F6;
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 20px;
}

.content-2 {
    padding-top: 32px;
}

.content-2-1 {
    max-width: 75em;
    padding: 32px 16px 128px;
    gap: 64px;
}

.content-2-1 p {
    text-align: center;
    margin: 8px 0;
}

.content-2-1 div {
    flex-direction: column;
}

.subtext {
    color: #1F2937;
}

.content-3-background {
    background-color: #E5E7EB;
    width: 100%;
    justify-content: center;
}

.content-3 {
    align-items: flex-end;
    max-width: 75em;
    padding: 64px 16px;
}

.quote {
    font-size: 36px;
    font-style: italic; /* CHANGE ME */
    color: #1F2937;
}

.quote-attribution {
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
}

.header span {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75em;
    margin: 0 auto;
    padding: 0 16px;
}

.header-background {
    background-color: #1F2937;
    justify-content: center;
}

.content-1 {
    padding: 96px 16px;
    width: 100%;
    max-width: 75em;
    gap: 64px;
}

.content-1-background {
    background-color: #1F2937;
    justify-content: center;
    width: 100%;
}

.header-links ul {
    list-style-type: none;
    gap: 24px;
}

.content-4 {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 96px 16px;
}

.content-4-1 {
    background: #3882F6;
    width: 100%;
    max-width: 50em;
    justify-content: space-between;
    padding: 40px 96px;
    border-radius: 5px;
    align-items: center;
}

.content-4 button {
    background: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: 2px solid white;
    padding: 6px 24px;
    font-weight: bold;
}

.content-4-1-1 {
    align-items: flex-start;
}

.content-4-1-1-header {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
}

.content-4-1-1-text {
    color: #E5E7EB;
}

.footer {
    justify-content: center;
    background: #1F2937;
    color: #E5E7EB;
    padding: 32px 0;
}